# Set
A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

## Creating Python Sets
A set is created by placing all the items (elements) inside curly braces {}, separated by comma, or by using the built-in set() function.

It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [1]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

In [2]:
# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}

{1, 2, 3, 4}
{1, 2, 3}

TypeError: unhashable type: 'list'

Empty curly braces *{}* will make an empty dictionary in Python. To make a set without any elements, we use the *set()* function without any argument.

In [3]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

# Modifying a set in Python
Sets are mutable. However, since they are unordered, indexing has no meaning.

We cannot access or change an element of a set using indexing or slicing. Set data type does not support it.

We can add a single element using the add() method, and multiple elements using the update() method. The update() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.

In [4]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

# Removing elements from a set

A particular item can be removed from a set using the methods discard() and remove().

The only difference between the two is that the discard() function leaves a set unchanged if the element is not present in the set. On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

The following example will illustrate this.

In [6]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

KeyError: 2

Similarly, we can remove and return an item using the pop() method.

Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the clear() method.

In [7]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
my_set.pop()
print(my_set)

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

{'W', 'o', 'r', 'd', 'e', 'l', 'H'}
W
{'r', 'd', 'e', 'l', 'H'}
set()

# Python Set Operations
Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

Let us consider the following two sets for the following operations.

In [1]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

![set-union.webp](attachment:set-union.webp)

Union of A and B is a set of all elements from both sets.

Union is performed using | operator. Same can be accomplished using the union() method.

In [2]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
# use union function
A.union(B)
#{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
# use union function on B
B.union(A)
#{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

# Set Intersection

![set-intersection.webp](attachment:set-intersection.webp)

Intersection of A and B is a set of elements that are common in both the sets.

Intersection is performed using & operator. Same can be accomplished using the intersection() method.

In [6]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [7]:
 A.intersection(B)

{4, 5}

In [8]:
 B.intersection(A)

{4, 5}

# Set Difference
![set-difference.webp](attachment:set-difference.webp)
Difference of the set B from set A(A - B) is a set of elements that are only in A but not in B. Similarly, B - A is a set of elements in B but not in A.

Difference is performed using - operator. Same can be accomplished using the difference() method.

In [9]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [11]:
# use difference function on A
A.difference(B)

{1, 2, 3}

In [12]:
# use - operator on B
B - A

{6, 7, 8}

In [13]:
# use difference function on B
B.difference(A)

{6, 7, 8}

# Set Symmetric Difference
![set-symmetric-difference.webp](attachment:set-symmetric-difference.webp)

Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection).

Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference().

In [14]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [15]:
# use symmetric_difference function on A
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [16]:
# use symmetric_difference function on B
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

<tbody><tr><th>Method</th>
				<th>Description</th>
			</tr><tr><td><a href="/python-programming/methods/set/add">add()</a></td>
				<td>Adds an element to the set</td>
			</tr><tr><td><a href="/python-programming/methods/set/clear">clear()</a></td>
				<td>Removes all elements from the set</td>
			</tr><tr><td><a href="/python-programming/methods/set/copy">copy()</a></td>
				<td>Returns a copy of the set</td>
			</tr><tr><td><a href="/python-programming/methods/set/difference">difference()</a></td>
				<td>Returns the difference of two or more sets as a new set</td>
			</tr><tr><td><a href="/python-programming/methods/set/difference_update">difference_update()</a></td>
				<td>Removes all elements of another set from this set</td>
			</tr><tr><td><a href="/python-programming/methods/set/discard">discard()</a></td>
				<td>Removes an element from the set if it is a member. (Do nothing if the element is not in set)</td>
			</tr><tr><td><a href="/python-programming/methods/set/intersection">intersection()</a></td>
				<td>Returns the intersection of two sets as a new set</td>
			</tr><tr><td><a href="/python-programming/methods/set/intersection_update">intersection_update()</a></td>
				<td>Updates the set with the intersection of itself and another</td>
			</tr><tr><td><a href="/python-programming/methods/set/isdisjoint">isdisjoint()</a></td>
				<td>Returns <code>True</code> if two sets have a null intersection</td>
			</tr><tr><td><a href="/python-programming/methods/set/issubset">issubset()</a></td>
				<td>Returns <code>True</code> if another set contains this set</td>
			</tr><tr><td><a href="/python-programming/methods/set/issuperset">issuperset()</a></td>
				<td>Returns <code>True</code> if this set contains another set</td>
			</tr><tr><td><a href="/python-programming/methods/set/pop">pop()</a></td>
				<td>Removes and returns an arbitrary set element. Raises <code>KeyError</code> if the set is empty</td>
			</tr><tr><td><a href="/python-programming/methods/set/remove">remove()</a></td>
				<td>Removes an element from the set. If the element is not a member, raises a <code>KeyError</code></td>
			</tr><tr><td><a href="/python-programming/methods/set/symmetric_difference">symmetric_difference()</a></td>
				<td>Returns the symmetric difference of two sets as a new set</td>
			</tr><tr><td><a href="/python-programming/methods/set/symmetric_difference_update">symmetric_difference_update()</a></td>
				<td>Updates a set with the symmetric difference of itself and another</td>
			</tr><tr><td><a href="/python-programming/methods/set/union">union()</a></td>
				<td>Returns the union of sets in a new set</td>
			</tr><tr><td><a href="/python-programming/methods/set/update">update()</a></td>
				<td>Updates the set with the union of itself and others</td>
			</tr></tbody>